.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row2
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input
{
    margin: 30px;
}
